<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999633053304-p5ehv8sh3ohep3qpvog10k7ovtc5fuv4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999633053304-p5ehv8sh3ohep3qpvog10k7ovtc5fuv4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>999633053304-39co13lr02va9to1gdc347u2jokbgn1o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrXMUtFUGgQrCX2Lqcif6fM2O89PtA8Uw</string>
	<key>GCM_SENDER_ID</key>
	<string>999633053304</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.testklk</string>
	<key>PROJECT_ID</key>
	<string>idoc-7351a</string>
	<key>STORAGE_BUCKET</key>
	<string>idoc-7351a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999633053304:ios:70b3c45673cac3bf7aef8d</string>
</dict>
</plist>